.App {
  text-align: center;
  background-color: #eaebee;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 44, 44);
  width: 100vw;
}

.App-link {
  color: #09d3ac;
}
