.message {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 5px rgb(189, 189, 189);

}

.message-image {
  width: 20%;
}

.message-image img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 1px 3px 5px rgb(189, 189, 189);
}

.message-contents {
  width: 80%;
}